<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Restaurants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Restaurants</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngFor="let restaurant of restaurants | async"
    routerLink="/tabs/config/restaurant/detail/{{restaurant.id}}">
    <ion-item>
      <ion-label>
        <h2>{{ restaurant.name }}</h2>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>