<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Config</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Config</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button [routerLink]="['restaurant']" expand="block">
    <ion-label stacked>Restaurant</ion-label>
  </ion-button>

  <ion-button expand="block" disabled="true">
    <ion-label stacked>User</ion-label>
  </ion-button>

</ion-content>