<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon aria-hidden="true" name="aperture-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="config" *ngIf="!isProduction">
      <ion-icon aria-hidden="true" name="cog-outline"></ion-icon>
      <ion-label>Config</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="order">
      <ion-icon aria-hidden="true" name="fast-food-outline"></ion-icon>
      <ion-label>Order</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="user-profile">
      <ion-icon aria-hidden="true" name="fast-food-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button> -->

  </ion-tab-bar>

</ion-tabs>