<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Check Out Our Menu!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Check Out Our Menu!</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-start">
          <h3>text-start</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-end">
          <h3>text-end</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-center">
          <h3>text-center</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-justify">
          <h3>text-justify</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-wrap">
          <h3>text-wrap</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
        </div>
      </ion-col>
      <ion-col>
        <div class="ion-text-nowrap">
          <h3>text-nowrap</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <div slot="fixed">
    <h1>Fixed Content</h1>
  </div> -->
</ion-content>