<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Order
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Order</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text *ngIf="!scanActive && !scanResult">
    <h1>Scan a QR Code to see the menu</h1>
  </ion-text>

  <!-- Shows our camera stream -->
  <video #video [hidden]="!scanActive" width="100%"></video>

  <!-- Used to render the camera stream images -->
  <canvas #canvas hidden></canvas>

  <ion-card *ngIf="scanResult">
    <ion-card-header>
      <ion-card-title>QR scan result</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ scanResult }}
    </ion-card-content>
  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="center">

    <ion-fab-button>
      <ion-icon name="color-palette"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button (click)="startScan()" *ngIf="!scanActive">
        <ion-icon name="qr-code-outline"></ion-icon>
      </ion-fab-button>

      <ion-fab-button (click)="stopScan()" color="danger" *ngIf="scanActive">
        <ion-icon name="stop-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

    <ion-fab-list side="end">
      <ion-fab-button (click)="reset()" *ngIf="scanResult" color="warning">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>

  </ion-fab>

  <ion-button (click)="showRestaurantModal()">Button</ion-button>

</ion-content>