<ion-card *ngIf="!isSupported">
  <ion-card-header>
    <ion-card-title>Not Supported</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Only iOS and Android modes are supported.
    <ion-button (click)="dismissModal()">Close</ion-button>
  </ion-card-content>
</ion-card>

<ion-list>
  <ion-item *ngFor="let barcode of barcodes">
    <ion-label position="stacked">{{ barcode.format }}</ion-label>
    <ion-input type="text" [value]="barcode.rawValue"></ion-input>
  </ion-item>
</ion-list>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button (click)="scan()" [disabled]="!isSupported">
    <ion-icon name="scan"></ion-icon>
  </ion-fab-button>
</ion-fab>